.aspect-square-container
  position: relative
  overflow: hidden
  width: 100%
  height: 0
  padding-top: 100%

  .aspect-square
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

