$offset: 0.05rem
$size: 0.1rem

button
  box-shadow: $offset $offset $size rgba(0, 0, 0, 0.5)
  border-radius: $size
  color: $primary-dark

  &:hover
    box-shadow: $size $size $size rgba(0, 0, 0, 0.7)
    background-color: rgba(90, 90, 90, 0.08)


