$line-margin: 0.5rem

@mixin border ($border)
  border-bottom: 1px $border $primary-dark

.divider
  width: 100%
  margin-top: 1rem
  font-size: 0.86rem
  display: flex
  align-items: center

  & > span
    @include italic_display

  & > div
    opacity: 0.5

    &:first-child
      margin-right: $line-margin
      flex: 0 1 1.4rem

    &:last-child
      margin-left: $line-margin
      flex: 0 1 100%

  .solid
    @include border(solid)

  .dashed
    @include border(dashed)

