.explore

  .heading
    display: flex
    justify-content: space-between

    button
      width: 2rem
      height: 2rem

  .specimen-container
    max-width: 40rem
    margin: 0 auto
    padding: 0 2rem

  .specimen-container > article
    width: 100%

  .rule
    font-size: 1rem

