.settings
  padding: 1.6rem 0

  .setting
    padding: 0.6rem 0

  .input-container
    padding-right: 2.4rem
    display: flex

  .row label
    text-align: end
    padding-right: 0.6rem
    font-style: italic
    font-weight: 600

  input
    width: 100%

