.specimen
  width: 100%
  height: 100%

  path
    fill: none
    stroke: $primary-dark
    stroke-width: 4px
    stroke-linecap: round
    stroke-linejoin: round

  svg
    width: 100%
    height: 100%

