header
  position: relative
  height: auto
  display: flex
  flex-wrap: wrap
  align-items: center
  padding: 0.4rem
  background: $primary-dark

  & > section
    width: 100%
    max-width: $main-max-width
    margin: 0 auto

  a,
  h1
    color: $primary-light

  a:hover
    text-decoration: none
    color: $cotton-candy

  h1
    white-space: nowrap
    padding-left: 0.5rem
    padding-right: 2rem
    display: flex
    align-items: center
    margin: 0
    grid-row: header
    grid-column: h1
    font-weight: 700
    font-size: 1.4rem

