@import 'bootstrap'
@import 'variables'
@import 'mixins'
@import 'aspect-ratio'
@import 'header'
@import 'button'
@import 'divider'
@import 'rule'
@import 'index'
@import 'explore'
@import 'specimen'
@import 'neighbors'
@import 'settings'
@import 'gallery'


*::selection
  background-color: $primary-dark
  color: $primary-light

body
  margin: 0
  min-height: 100vh
  background-color: $primary-light
  background: radial-gradient(circle at top right, $primary-light 0, $cotton-candy 125%)
  color: $primary-dark
  font-family: 'Lora', Georgia, serif

figure,
pre,
label
  margin: 0

button
  border: none
  border-radius: 0.3rem
  background: none
  padding: 0

article > main
  max-width: $main-max-width
  margin: 0 auto
  padding: 1rem

h1,
a
  color: $primary-dark

a:hover
  color: $primary-200

h1,
h2,
h3,
h4,
h5,
h6
  font-family: 'Lora'
  letter-spacing: -0.05rem

p
  font-size: 0.9rem

nav
  display: flex
  align-items: center
  padding: 0.2rem 0.5rem
  background: $primary-dark

  &,
  div
    height: 100%

  &,
  a
    transition: all 0.2s ease
  a
    font-weight: 500
    margin-right: 0.8rem
    color: $primary-light

