@mixin input-border
  border: none
  border-radius: 0.3rem
  background: none
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)

@mixin italic_display
  font-style: italic
  font-weight: 600
  white-space: nowrap

